{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
  <meta name="description" content="PetNet самый лучший магазин для животных">
  <meta name="автор" content="PetNet">
  <meta property="og:title" content="PetNet|About">
  <meta property="og:description" content="PetNet самый лучший магазин для животных">
  <meta property="og:type" content="article">
  <meta property="og:url" content="http://petnet.com/about/">
{% endblock %}

{% block content %}
  <h1>About</h1>
{% endblock %}
